<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4sL4GWtmWFlLP1Yg-HI41sylA9k14FPA</string>
	<key>GCM_SENDER_ID</key>
	<string>717265090065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uek.projekt-anairo-23</string>
	<key>PROJECT_ID</key>
	<string>projektsm23-636c4</string>
	<key>STORAGE_BUCKET</key>
	<string>projektsm23-636c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717265090065:ios:153b769bdf9a2d6273a3b0</string>
</dict>
</plist>